##MacOS system files
.DS_Store

##2020 tasks are only for practise
2020

##Don't include test data
**/**/testdata.txt

##Node modules
**/**/node_modules

##Don't include placeholders for upcoming tasks
2021/12
2021/13