##MacOS system files
.DS_Store

##2020 tasks are only for practise
2020

##Don't include test data
**/**/testdata.txt

##Don't include placeholders for upcoming tasks
2021/08
2021/09
2021/10
2021/11
2021/12